<!DOCTYPE html>
<html>
<head>
  <title>Sodie | Bolos</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   Sodie
  </header>

  <nav>
    <ul>
        <li>Lanches</li>
        <li>Salgados</li>
        <li>Bolos</li>
        <li>Doces</li>
    </ul>
</nav>

  <main>
    <% for (let produto of produtos) {%>
      <div class="card">
        <a href="/produtos/<%= produto.id %>"><img src= "<%= produto.imagem %>" alt="foto bolo-chocolate"></a>
          
          <h2><%= produto.nome %></h2>
          <h3><%= produto.descricao %></h3>
          <p><%= produto.preco %></p>
      </div>
      
    <% } %>

    <!-- <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/limao.png" alt="foto bolo-churros"></a>
        <h2>Bolo de Limão</h2>
        <p>R$ 40,00</p>
    </div>

    <div class="card">
        <a href="http://localhost:3000/contatos"><img src="/cenoura.png" alt="foto rocambole"></a>
        <h2>Bolo de Cenoura</h2>
        <p>R$ 35,00</p>
    </div>

    <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/maracuja.png" alt="foto rocambole"></a>
      <h2>Bolo de Maracuja</h2>
      <p>R$ 25,00</p>
  </div>

  <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/ninho_goiabada.png" alt="foto rocambole"></a>
      <h2>Bolo Vulcão Leite Ninho e Goiabada</h2>
      <p>R$ 45,00</p>
  </div>

  <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/milho.png" alt="foto rocambole"></a>
      <h2>Bolo de Milho</h2>
      <p>R$ 20,00</p>
  </div>

  <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/banana.png" alt="foto rocambole"></a>
      <h2>Bolo de Banana</h2>
      <p>R$ 25,00</p>
  </div>

  <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/laranja.png" alt="foto rocambole"></a>
      <h2>Bolo de Laranja</h2>
      <p>R$ 35,00</p>
  </div>

  <div class="card">
      <a href="http://localhost:3000/contatos"><img src="/abacaxi.png" alt="foto rocambole"></a>
      <h2>Bolo de Abacaxi</h2>
      <p>R$ 30,00</p>
  </div> -->

  </main>

</body>
</html>